<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnableMediaRouter</key>
    <false />
    <key>CookiesBlockedForUrls</key>
    <array>
      <string>ntp.msn.com</string>
    </array>
    <key>DefaultGeolocationSetting</key>
    <integer>2</integer>
    <key>DefaultInsecureContentSetting</key>
    <integer>2</integer>
    <key>DefaultCookiesSetting</key>
    <integer>4</integer>
    <key>DefaultThirdPartyStoragePartitioningSetting</key>
    <integer>1</integer>
    <key>DefaultFileSystemReadGuardSetting</key>
    <integer>2</integer>
    <key>DefaultFileSystemWriteGuardSetting</key>
    <integer>2</integer>
    <key>DefaultWebBluetoothGuardSetting</key>
    <integer>2</integer>
    <key>DefaultWebHidGuardSetting</key>
    <integer>2</integer>
    <key>ShowPDFDefaultRecommendationsEnabled</key>
    <false />
    <key>SpotlightExperiencesAndRecommendationsEnabled</key>
    <false />
    <key>FeatureFlagOverridesControl</key>
    <integer>1</integer>
    <key>ExtensionInstallBlocklist</key>
    <array>
      <string>*</string>
    </array>
    <key>GamerModeEnabled</key>
    <false />
    <key>WindowsHelloForHTTPAuthEnabled</key>
    <false />
    <key>ImmersiveReaderGrammarToolsEnabled</key>
    <false />
    <key>ImmersiveReaderPictureDictionaryEnabled</key>
    <false />
    <key>EdgeManagementEnabled</key>
    <false />
    <key>MAMEnabled</key>
    <false />
    <key>NativeMessagingBlocklist</key>
    <array>
      <string>*</string>
    </array>
    <key>PasswordManagerEnabled</key>
    <false />
    <key>PinBrowserEssentialsToolbarButton</key>
    <false />
    <key>InsecurePrivateNetworkRequestsAllowed</key>
    <false />
    <key>NewTabPageAllowedBackgroundTypes</key>
    <integer>3</integer>
    <key>NewTabPageAppLauncherEnabled</key>
    <false />
    <key>NewTabPageBingChatEnabled</key>
    <false />
    <key>NewTabPageContentEnabled</key>
    <false />
    <key>NewTabPageHideDefaultTopSites</key>
    <false />
    <key>NewTabPageQuickLinksEnabled</key>
    <false />
    <key>NewTabPageSearchBox</key>
    <string>redirect</string>
    <key>EdgeWorkspacesEnabled</key>
    <false />
    <key>AccessibilityImageLabelsEnabled</key>
    <false />
    <key>AdsSettingForIntrusiveAdsSites</key>
    <integer>2</integer>
    <key>AlternateErrorPagesEnabled</key>
    <false />
    <key>AudioSandboxEnabled</key>
    <true />
    <key>AutoLaunchProtocolsComponentEnabled</key>
    <false />
    <key>AutofillAddressEnabled</key>
    <false />
    <key>AutofillCreditCardEnabled</key>
    <false />
    <key>AutofillMembershipsEnabled</key>
    <false />
    <key>AutomaticHttpsDefault</key>
    <integer>2</integer>
    <key>BlockThirdPartyCookies</key>
    <true />
    <key>BrowserCodeIntegritySetting</key>
    <integer>2</integer>
    <key>BrowserNetworkTimeQueriesEnabled</key>
    <false />
    <key>BrowserSignin</key>
    <integer>0</integer>
    <key>ComposeInlineEnabled</key>
    <false />
    <key>ConfigureOnlineTextToSpeech</key>
    <false />
    <key>ConfigureShare</key>
    <integer>1</integer>
    <key>DefaultBrowserSettingsCampaignEnabled</key>
    <false />
    <key>DefaultClipboardSetting</key>
    <integer>2</integer>
    <key>DefaultSensorsSetting</key>
    <integer>2</integer>
    <key>DefaultSerialGuardSetting</key>
    <integer>2</integer>
    <key>ConfigureDoNotTrack</key>
    <true />
    <key>DefaultShareAdditionalOSRegionSetting</key>
    <integer>2</integer>
    <key>DiagnosticData</key>
    <integer>0</integer>
    <key>Edge3PSerpTelemetryEnabled</key>
    <false />
    <key>EdgeCollectionsEnabled</key>
    <false />
    <key>EdgeEDropEnabled</key>
    <false />
    <key>EdgeEnhanceImagesEnabled</key>
    <false />
    <key>EdgeFollowEnabled</key>
    <false />
    <key>EdgeShoppingAssistantEnabled</key>
    <false />
    <key>EdgeWalletCheckoutEnabled</key>
    <false />
    <key>EdgeWalletEtreeEnabled</key>
    <false />
    <key>EditFavoritesEnabled</key>
    <false />
    <key>EnableOnlineRevocationChecks</key>
    <true />
    <key>EncryptedClientHelloEnabled</key>
    <true />
    <key>EnhanceSecurityMode</key>
    <integer>2</integer>
    <key>FamilySafetySettingsEnabled</key>
    <false />
    <key>FavoritesBarEnabled</key>
    <false />
    <key>ImportAutofillFormData</key>
    <false />
    <key>ImportBrowserSettings</key>
    <false />
    <key>ImportCookies</key>
    <false />
    <key>ImportExtensions</key>
    <false />
    <key>ImportFavorites</key>
    <false />
    <key>ImportHistory</key>
    <false />
    <key>ImportHomepage</key>
    <false />
    <key>ImportOnEachLaunch</key>
    <false />
    <key>ImportOpenTabs</key>
    <false />
    <key>ImportPaymentInfo</key>
    <false />
  </dict>
</plist>